<html>
  <div class='login'>
    <a href= '/decks'>Home</a>
   <!--  <a href= '/login'>Login</a>
    <a href= '/users/new'>Register</a> -->
  </div>
  <div class="body">
    <div class="main-display">
      <h1 class= "header_name"><%=@card.question%></h1>
    </div>
    <div class="login-page">
      <form action='/guesses' method='post'>
        <input type='hidden' name='card_id' value="<%=@card.id%>">
        <input type='hidden' name='round_id' value="<%=@round.id%>">
        What's your Answer?<br><br><input type='text' name='content'>
        <br>
        <br>
        <p class="submit"><input type='submit' value='Submit'></p>
        <p class="answer"><%= @card.answer %></p>
        <a class="show-answer-button" href="#">show answer</p>
          <a href="/round/<%=@round.id%>">Next Question</a>
      </form>
    </div>
  </div>

</html>

<center><%= erb :_errors %></center>
